<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to my on site</h1>
    <h4>daftar user</h4>
   <table style="color: rgb(20, 20, 50);">
       <% users.forEach(function(user) { %>
    <tr>
        <th>email</th>
        <th>password</th>
    </tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>           
     <% }) %>
   </table>

   <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>
</body>
</html>